# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\临时下载\test_scrip\pytest_运行方式\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
