# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test_scrip\test_yaml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
