# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test_scrip\数据参数化\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
