# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test_scrip\home_po\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
